# environment variable files
.env
.env.*

# IDE settings
.vscode

# Local example files for testing use cases
examples

# Compiled py files
*.pyc

# Weird egg-info files
glimpse.egg-info

# Glimpse policy files
*-policy.json